---
import { Image } from "astro:assets";
import IconImage from "assets/icon.jpeg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<style>
.exciting-text::after {
  content: " R";
  color: rgb(22 163 74);
}
</style>

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Image
      src={IconImage}
      alt="Astronaut in the air"
      width={200}
      height={400}
      sizes="(max-width: 200px) 50vw, 255px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter exciting-text">
      Ethosph'
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Une association qui mène des actions pour la <wbr />
      réhabilitation, la resocialisation et le bien-être des animaux.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

        Faire un Don
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        Devenir adhérent
      </Link>
    </div>
  </div>
</main>
