---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
import { getLangFromUrl, useTranslations } from "i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export function getStaticPaths () {
 return [
    {params: {lang: 'en'}},
    {params: {lang: 'fr'}},
  ];
}

---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">{t('page.contact.title')}</Fragment>
      <Fragment slot="desc">{t('page.contact.desc')}</Fragment>
    </Sectionhead>

    <div class="mx-auto max-w-2xl mt-16">
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
