---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
export function getStaticPaths () {
 return [
    {params: {lang: 'en'}},
    {params: {lang: 'fr'}},
  ];
}
---

<Layout title="Expertise">
  <Container class="prose lg:prose-xl">
    <Sectionhead>
      <Fragment slot="title">Expertise</Fragment>
      <Fragment slot="desc">Découvrez ci-dessous les domaines d'expertise de l'Association
    </Fragment>
    </Sectionhead>
    <div class="flex flex-col gap-4 mx-auto max-w-4xl mt-16">
        <div class="text-3xl uppercase">La réhabilitation</div>
        <div>La réhabilitation propose de procurer une retraite à des animaux sains en fin de protocole expérimental en alternative à l’euthanasie. La réhabilitation est peu répandue bien qu’elle soit autorisée par la loi. Elle a été intégrée en tant que 4ème R* à la directive européenne sur l’expérimentation animale à l’occasion de la révision de cette dernière en 2010. En France, le processus de réhabilitation est assuré depuis plusieurs années par le Groupement de Réflexion et d’Action pour l’Animal (GRAAL).</div>
        <div class="font-bold">En ce qui concerne Ethosph’R, nos interventions concernent le suivi des réhabilitations ainsi que leur préparation en resocialisant les animaux en amont.</div>
        <div>Il nous apparaît en effet indispensable de réaliser un suivi rigoureux des réhabilitations pour démontrer leur faisabilité et garantir que ces « retraites s’effectuent dans de bonnes conditions. Il est bien évidemment inconcevable de « sortir » des animaux de laboratoires si c’est pour leur proposer une alternative de mauvaise qualité.</div>
        <div  class="font-bold">Notre contribution permet d’apporter de nouvelles perspectives quant à la méthodologie à adopter pour la resocialisation et plus généralement le regroupement d’animaux qu’ils soient domestiques ou sauvages en captivité.</div>
        <div>Il est important de préciser que les chercheurs ne sont pas opposés à la réhabilitation post-expérimentale, ils sont souvent persuadés qu’elle n’est pas autorisée, voire impossible à mettre en œuvre. Ainsi, c’est par ignorance que de nombreux scientifiques ne s’impliquent pas dans cette démarche. C’est pourquoi la <a class="text-green-500 hover:text-green-600" href="https://www.sfeca.info">SFECA</a> (Société Française pour l’Étude du Comportement Animal) a souhaité soutenir cette démarche éthique et respectueuse des animaux.</div>
        <div>En effet, les éthologistes, de par leur culture et leurs objets d’étude, peuvent constituer un relais efficace entre le GRAAL et le reste de la communauté scientifique et contribuer ainsi à la généralisation du processus de réhabilitation.</div>
        <div>La <a class="text-green-500 hover:text-green-600" href="https://www.sfeca.info">SFECA</a> continue à soutenir les actions du
            <a target="_blank" class="text-green-500 hover:text-green-600" href="https://www.graal-defenseanimale.org">GRAAL</a>
            <span class="font-bold">mais c’est dorénavant l’association Éthosph’R qui agit sur le terrain.</span></div>
        <div>Comme nous l’avons mentionné plus haut, les animaux peuvent avoir été élevés en isolement social. Cela peut compromettre leur réhabilitation. En effet, il ne s’agit pas de maintenir un animal social de manière isolée pour sa « retraite ». Il faut donc le resocialiser avant de pouvoir le réhabiliter.</div>
    </div>
    <div class="flex flex-col gap-4 mx-auto max-w-4xl mt-16">
        <div class="text-3xl uppercase">La resocialisation</div>
        <div>La possibilité d’exprimer le comportement normal de son espèce constitue l’un des besoins fondamentaux nécessaire au bien-être d’un animal (concept des « 5 libertés », Farm Animal Welfare Council, 1979). En conditions naturelles, les espèces sociales, dont les primates et les chevaux, vivent en groupes structurés et cohésifs basés sur l’établissement de relations sociales fortes et durables, de nature affiliative et hiérarchique.</div>
        <div>En tant qu’espèce sociale, avoir la possibilité d’établir des relations avec des congénères constitue un prérequis au bien-être de ces espèces. Pourtant, certains modes d’hébergement encore largement répandus limitent, voire suppriment totalement, cette possibilité et peuvent conduire ainsi à une dégradation générale du bien-être, de la relation avec l’humain et une augmentation de la réactivité des individus. Dans une perspective de bien-être, concilier vie sociale des individus et contraintes d’élevage constitue un défi que nous devons relever.</div>
        <div class="font-bold">Nous développons donc des actions de conseil et nous mettons en œuvre des protocoles qui ont pour objectif de permettre à des animaux qui ont vécu de manière isolée de vivre en groupe social.</div>
        <div>Ces resocialisations doivent être réalisées avec une grande rigueur et beaucoup de patience car l’isolement social peut conduire à une inaptitude à la vie en groupe.</div>
    </div>
    <div class="flex flex-col gap-4 mx-auto max-w-4xl mt-16">
        <div class="text-3xl uppercase">La Sensibilisation</div>
        <div>Il nous semble primordial de sensibiliser tous les publics au bien-être des animaux et de conseiller les professionnels afin qu’ils puissent intégrer dans leur pratique quotidienne des réflexes respectueux des animaux qu’ils ont à gérer. Nous intervenons dans :</div>
        <div class="font-bold">Prévention/sensibilisation à l’attention des structures utilisatrices :</div>
        <div>– Sensibilisation à l’amélioration des conditions de vie des animaux dans les structures d’origine (bien en amont de la sortie de l’animal, voire même pour les animaux ne sortant pas).</div>
        <div>– Accompagnement scientifique des changements de pratiques : protocole resocialisation, évaluation du bien-être social</div>
        <div><span class="font-bold">Conseil aux structures d’accueil :</span> Accompagnement à la conception de structures d’accueil pour animaux (pour l’insertion et le retrait d’individus) pour zoos, sanctuaires</div>
        <div>Si vous êtes intéressé.e par toute information concernant nos actions de sensibilisation, n’hésitez pas à nous <a href="contact" class="text-green-500 hover:text-green-600">contacter</a>.</div>
    </div>
  </Container>
</Layout>
